
Machine_Learning/\.idea/

Machine_Learning/MNIST_data/

catkin_ws/\.vscode/

*.txt~

catkin_ws/\.catkin_tools/

catkin_ws/build_isolated/

catkin_ws/build/

catkin_ws/devel/

catkin_ws/devel_isolated/

catkin_ws/logs/

Machine_Learning/
